{{ define "main" }}
<section class="hero post-hero">
  {{ with .Params.featured_image }}
  <img src="{{ . | relURL }}" class="featured-image" alt="Featured Image" />
  {{ end }}
</section>

<section>
  <h1 class="title">{{ .Title }}</h1>
  <h3 class="subtitle">
    <span class="tag is-link">{{ .ReadingTime }} Minutes</span>
    <span class="tag is-dark">{{ .Date.Format "Jan 2, 2006" }}</span>
    <span class="tag is-warning">{{ .WordCount }} Words</span>
  </h3>
</section>

<article class="content">{{ .Content }}</article>

<div class="container content">
  <ul>
    {{ with .PrevInSection }}
    <li>
      Previous Post:
      <a class="previous" href="{{ .Permalink }}">{{.Title}}</a>
    </li>
    {{ end }} {{ with .NextInSection }}
    <li>Next Post: <a class="next" href="{{ .Permalink }}">{{.Title}}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}
